:root {
    --color1: #f0f4c3;
    --color2: #9389ff;
    --color2light: #c7c3f4;
    --color3: #4e9aff;
    --color4: #009dab;
    --color4light: #c3f0f4;
    --color5: #ff5df2;
    --color5light: #f4c3f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body {
    font-family: "Josefin Sans", Sans-Serif;
    background-color: var(--color1);
}

h1 {
    font-size: 3.3rem;
    padding: 1.5rem;
    letter-spacing: 5px;
    font-family: "Righteous", Sans-Serif;
    background: linear-gradient(
        55deg,
        var(--color2) 55%,
        var(--color5light) 56%
    );
    background-size: 56%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient-slide 10s ease-in-out infinite alternate;
}

@keyframes gradient-slide {
    40% {
        background-size: 30%;
    }

    100% {
        background-size: 80%;
    }
}
