:root {
    --color1: #f0f4c3;
    --color2: #9389ff;
    --color2light: #c7c3f4;
    --color3: #4e9aff;
    --color4: #009dab;
    --color4light: #c3f0f4;
    --color5: #ff5df2;
    --color5light: #f4c3f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body {
    font-family: "Josefin Sans", Sans-Serif;
    background-color: var(--color1);
}

h1 {
    font-size: 3rem;
    padding: 1.5rem 0.5rem;

    letter-spacing: 5px;
    font-family: "Courier New", Monospace;
    font-family: "Ultra", Monospace;
    background: linear-gradient(
        55deg,
        var(--color2) 55%,
        var(--color5light) 56%
    );
    background-size: 60%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient-slide 50s ease-in-out infinite alternate;
}

@keyframes gradient-slide {
    30% {
        background-size: 30%;
    }

    80% {
        background-size: 220%;
        background-position: right center;
    }

    100% {
        background-size: 110%;
        background-position: left center;
    }
}

.logo {
    height: 30px;
}

.status > img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.status > span {
    font-family: "Righteous", Sans-Serif;
    text-transform: capitalize;
    font-size: 0.6rem;
    font-weight: 500;
    color: #666;
}

.status {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 0 0 100px;
    position: relative;
    left: -0px;
}

.status-slide {
    margin-inline: auto;
    margin-top: 1.5rem;
    display: flex;
    overflow: hidden;
    max-width: 95vw;
    padding: 0.6em 0;
    border-radius: 15px;
    border-top: 1.5px solid var(--color2);
    border-bottom: 1.5px solid var(--color2);
}
.status-holder {
    position: relative;
}

button {
    border: 0px;
}
.button {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #0000003c;
    backdrop-filter: blur(2px);
    border-radius: 50%;
}
.previous {
    left: 10px;
    top: 0;
    top: 35%;
}

.next {
    right: 0;
    top: 35%;
}

#previous,
#next {
    fill: var(--color2light);
}

.button:hover #previous,
.button:hover #next,
.button:focus #previous,
.button:focus #next {
    fill: var(--color5);
}

.progress {
    margin: 0.7rem auto 3rem auto;
    width: 95vw;
    height: 5px;
    border: 1px solid var(--color2light);
    margin-inline: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.progress-level {
    width: 0%;
    height: 5px;
    border-radius: 10px;
    background-color: var(--color2light);
}
